@font-face {
    font-family: "Bebas";
    src: url("./bebas_neue_regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.primaryBlock {
    display: flex;
    flex-direction: row;
}

h1 {
    color: rgb(37, 89, 161);
    font-family: Bebas;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: bold;
}

h2 {
    color: rgb(82, 79, 82);
    font-family: Bebas;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 3px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.candidate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.full_name {
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
}

.empty_block {
    margin-left: 10px;
    height: 33px;
    background-color: rgb(37, 89, 161);
    flex-grow: 1;
}

.photo_description {
    display: flex;
    flex-direction: row;
    background-image: url(./background.jpeg);
    background-size: cover;
    padding: 25px;
}

.photo-main {
    display: flex;
    justify-content: center;
}

#photo {
    position: relative;
}

.description {
    position: relative;
    padding: 10px;
}

p {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}

blockquote::before {
    content: '\f10d';
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 16px;
    color: rgb(36, 86, 157);
    font-weight: bold;
    margin-right: 5px;
}

blockquote {
    color: rgb(36, 86, 157);
    font-family: Bebas;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    margin-bottom: 0 !important;
}

.signature {
    font-size: 10px;
    margin: 0;
    margin-top: 0;
    margin-left: 24px;
}

.progress.progress-main {
    background-color: rgb(186, 183, 187);
    height: 22px;
    margin: 10px 0;
    border-radius: 0;
    font-family: Arial;
}

.progress-bar {
    background-color: rgb(32, 81, 157) !important;
}

.skills {
    padding-top: 2px;
    margin-left: 30px;
}

.percent {
    color: black;
    font-weight: bold;
    margin: 0;
    margin-left: 85%;
}

.main_experienceEducation {
    display: flex;
    flex-direction: row;
}

.experienceEducation {
    margin-top: 25px;
}

.columnDescription {
    background-color: rgb(213, 213, 216);
    padding-left: 18px;
    padding-bottom: 10px;
}

.columnDescription_name {
    color: black;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    padding-top: 25px;
    margin-left: 0;
}

.years {
    color: white;
    background-color: rgb(32, 79, 152);
    width: 90px;
    height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 1px;
}

.jobTitle {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 4px;
}

.placeOfWork {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 4px;
    text-transform: capitalize;
}

.workDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-right: 10px;
}

.leftSide {
    background-color: rgb(33, 78, 147);
    width: 100%;
    height: 100%;
}

.qr img {
    width: 130px;
    height: 130px;
}

.qr {
    text-align: center;
}

h3 {
    color: white;
    font-family: Bebas;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info_contacts {
    color: rgb(164, 200, 245);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.info_icons {
    color: white;
}

.fas {
    padding-bottom: 20px;
}

.fab {
    color: white;
    font-size: 100px;
    padding: 10px;
}

.icons_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    font-size: 30px;
    color: white;
    padding: 0;
}

.interests_names {
    color: white;
    font-family: Bebas;
    font-size: 17px;
}

.interests_distance {
    margin-bottom: 30px;
}

.socialMedia {
    margin-top: 20px;
    margin-bottom: 40px;
}

.social_icons {
    color: white;
    font-size: 15px;
    margin-top: 15px;
    border: 1px solid rgb(19, 17, 17);
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(19, 17, 17);
}

.socialMedia_links {
    color: white;
    font-size: 10x;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    text-decoration: none;
}

.distance {
    margin-left: 30px;
}

@media (max-width: 767px) {
    #photo {
        max-width: 200px;
    }
}